.text-decorator-none{
    text-decoration: none;
}

.card{
    background-color: #F6F4F7 !important;
    border: 1px solid white;
}

.pintarBtn2 {
    background-color: #e6b8ab !important;
    color:  whitesmoke !important;
}

