.box1{
   background-color:#e6b8ab;
    height: 120px;
}

.box2{
   background-color: #EFCEC7; 
   height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}