.caixa{
    background-color:  #F6F4F7
}

.titulo{
    color: #ecc06f !important; 
    font-weight: "bold";
}

.botao{
    border-color: white !important;
     background-color: #e4a18f;
      color: #e4a18f !important;
}

.postagens{
    background-color: white;
}

.text-decorator-nome{
    text-decoration: none;
}